<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ssmbare.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ssmbare.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ssmbare</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ssmbare</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SSMOrdinaryModel" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:a64uiilmgo.database.windows.net,1433;Initial Catalog=ssm;Integrated Security=False;User ID=SSMUser@a64uiilmgo;Password=8cdLc4CkZDRhujhYXZ7B;Connect Timeout=30;Encrypt=True" Name="Server=tcp:a64uiilmgo.database.windows.net,1433;Database=ssm;User ID=SSMUser@a64uiilmgo;Password=8cdLc4CkZDRhujhYXZ7B;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SSMWeb.Models.SSMOrdinaryModel, SSMWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:a64uiilmgo.database.windows.net,1433;Initial Catalog=ssm;Integrated Security=False;User ID=SSMUser@a64uiilmgo;Password=8cdLc4CkZDRhujhYXZ7B;Connect Timeout=30;Encrypt=True" Name="Server=tcp:a64uiilmgo.database.windows.net,1433;Database=ssm;User ID=SSMUser@a64uiilmgo;Password=8cdLc4CkZDRhujhYXZ7B;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SSMWeb.Models.ApplicationDbContext, SSMWeb" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SSMConnectionStringForReport" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-H0CEF7C\SQLEXPRESS;Initial Catalog=SSM;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SSMConnectionStringForReport_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-H0CEF7C\SQLEXPRESS;Initial Catalog=SSM;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:a64uiilmgo.database.windows.net,1433;Database=ssm;User ID=SSMUser@a64uiilmgo;Password=8cdLc4CkZDRhujhYXZ7B;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SSMConnectionStringForReport-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SSMOrdinaryModel-Web.config Connection String">
      <ParameterValue>Server=tcp:a64uiilmgo.database.windows.net,1433;Database=ssm;User ID=SSMUser@a64uiilmgo;Password=8cdLc4CkZDRhujhYXZ7B;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>